# x-archived-from: asapp3-openapi.yaml
# x-archived-on: 2026-09-26
openapi: 3.0.1
info:
  title: AutoCompose API
  description: >
    Autocompose API to suggest the next agent message.

    Suggestions are based on the conversation history, conversation metadata,
    and

    the in-progress message text the agent has already typed into the composer.
  version: 0.0.3
servers:
  - url: https://api.sandbox.asapp.com
  - url: https://api.test.asapp.com
tags:
  - name: AutoCompose
    description: Improve agent productivity with AutoCompose API
    x-displayName: AutoCompose
  - name: AutoSummary
    description: Endpoints for summarizing conversations and retrieving structured data
    x-displayName: AutoSummary
  - name: AutoTranscribe
    description: Get streaming URL to transcribe audio
    x-displayName: AutoTranscribe
  - name: Conversations
    description: Operations to send conversational inputs to ASAPP AI services
    x-displayName: Conversations
  - name: File Exporter
    description: API to get client exports
    x-displayName: File Exporter
  - name: GenerativeAgent
    description: >-
      Operations to send messages and trigger GenerativeAgent to respond or
      query the current state
    x-displayName: GenerativeAgent
  - name: Health Check
    description: Operations to ensure that ASAPP APIs are up and running.
    x-displayName: Health Check
  - name: Knowledge Base
    description: >-
      Operations to submit and retrieve Articles to the GenerativeAgent
      Knowledge Base.
    x-displayName: Knowledge Base
  - name: Metadata
    description: API to submit entity's attributes to ASAPP
    x-displayName: Metadata
  - name: AutoTranscribe Media Gateway
    description: >-
      Operations for controlling AutoTranscribe Media Gateway transcription and
      streaming
    x-displayName: AutoTranscribe Media Gateway
paths:
  /autocompose/v1/conversations/{conversationId}/suggestions:
    parameters:
      - $ref: '#/components/parameters/conversationId'
    post:
      tags:
        - AutoCompose
      operationId: getSuggestions
      summary: Generate suggestions
      description: >
        Get suggestions for the next agent message in the conversation. 


        There are several times when this should be called:

        - when an agent joins the conversation,

        - after a message is sent by either the customer or the agent,

        - and as the agent is typing in the composer (to enable completing the
        agent's in-progress message).


        Optionally, add a message to the conversation.
      requestBody:
        description: The parameters for getting suggestions for the next agent message.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SuggestionsRequest'
      responses:
        '200':
          description: Successfully fetched suggestions for the conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Suggestions'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/profanity/evaluation:
    post:
      tags:
        - AutoCompose
      operationId: getEvaluation
      summary: Evaluate profanity
      description: >
        Get an evaluation of a text to verify if it contains profanity,
        obscenity or other unwanted words. This service should be called before
        sending a message to prevent the agent from sending profanities in the
        chat.
      requestBody:
        description: >-
          The parameters for getting a evaluation result of the text typed by
          the user.
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  description: text to be checked for profanity
                  type: string
              example:
                text: This is a perfectly decent sentence.
      responses:
        '200':
          description: Successfully fetched a evaluation result of the sentence.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ProfanityResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/spellcheck/correction:
    post:
      tags:
        - AutoCompose
      operationId: getSpellingCorrection
      summary: Check for spelling mistakes
      description: >
        Get spelling correction for a message as it is being typed, if there is
        a misspelling. Only the current word

        will be corrected, once it's fully typed (so it is recommended to call
        this endpoint after space characters).
      requestBody:
        description: >-
          The parameters for getting a spelling correction as a message is being
          typed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SpellcheckQuery'
      responses:
        '200':
          description: Successfully checked for a spelling mistake.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SpellcheckCorrection'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/analytics/message-sent:
    post:
      tags:
        - AutoCompose
      operationId: createMessageSentEvent
      summary: Create a MessageSent analytics event
      description: >
        Create a MessageSent analytics event describing the agent's usage of
        AutoCompose augmentation features

        while composing a message
      requestBody:
        description: The parameters for creating a MessageSent event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageSentEvent'
      responses:
        '200':
          description: Successfully created a MessageSent event
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/conversations/{conversationId}/message-analytic-events:
    parameters:
      - $ref: '#/components/parameters/conversationId'
    post:
      tags:
        - AutoCompose
      operationId: createMessageAnalyticEvent
      summary: Create a message analytic event
      description: >
        To improve the performance of ASAPP suggestions, provide information
        about the actions performed by the agent while composing a message by
        creating `message-analytic-events`.


        These analytic events indicate which AutoCompose functionality was used
        or not. This information along with the conversation itself is used to
        optimize our models, resulting in better results for the agents.


        We track the following types of message analytic events:

        - suggestion-1-inserted: The agent selected the first of the
        `suggestions` from a `Suggestion` API response.

        - suggestion-2-inserted: The agent selected the second of the
        `suggestions` from a `Suggestion` API response.

        - suggestion-3-inserted: The agent selected the third of the
        `suggestions` from a `Suggestion` API response.

        - phrase-completion-accepted: The agent selected the `phraseCompletion`
        from a `Suggestion` API response.

        - spellcheck-applied: A correction provided in a `SpellcheckCorrection`
        API response was applied automatically.

        - spellcheck-undone: A correction provided in a `SpellcheckCorrection`
        API response was undone by clicking the undo button.

        - custom-response-drawer-inserted: The agent inserted one of their
        custom responses from the custom response drawer.

        - custom-panel-inserted: The agent inserted a response from their custom
        response list in the custom response panel.

        - global-panel-inserted: The agent inserted a response from the global
        response list in the global response panel.


        Some of the event types have a corresponding event object to provide
        details.
      requestBody:
        description: The parameters for reporting the analytic event
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageAnalyticEvent'
            examples:
              Create a suggestion-inserted event.:
                value:
                  type: suggestion-1-inserted
                  suggestionsId: 4d2fd982640c311394008259594399a1
              Create a spellcheck-applied event.:
                value:
                  type: spellcheck-applied
                  suggestionsId: 4d2fd982640c311394008259594399a1
                  spellcheckApplied:
                    correctionId: 75bc8912c66842594375bc8912c66842
              Create a spellcheck-undone event.:
                value:
                  type: spellcheck-undone
                  suggestionsId: 4d2fd982640c311394008259594399a1
                  spellcheckUndone:
                    correctionId: 75bc8912c66842594375bc8912c66842
              Create a custom-response-drawer-inserted event.:
                value:
                  type: custom-response-drawer-inserted
                  suggestionsId: 4d2fd982640c311394008259594399a1
                  customResponseDrawerInserted:
                    query: Hi
                    text: Hi, I'm Alice. How can I help you today?
              Create a custom-panel-inserted event.:
                value:
                  type: custom-panel-inserted
                  suggestionsId: 4d2fd982640c311394008259594399a1
                  customPanelInserted:
                    text: Hi, I'm Alice. How can I help you today?
              Create a global-panel-inserted event.:
                value:
                  type: global-panel-inserted
                  suggestionsId: 4d2fd982640c311394008259594399a1
                  globalPanelInserted:
                    text: How can I help you today?
      responses:
        '200':
          description: Successfully reported selected suggestion
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/settings:
    parameters:
      - $ref: '#/components/parameters/agentId'
    get:
      tags:
        - AutoCompose
      operationId: getSettings
      summary: Get settings for AutoCompose clients
      description: >
        Get settings for AutoCompose clients, such as whether any features
        should not be used.

        It may be desirable to disable some features in high-latency scenarios.
      responses:
        '200':
          description: Settings for AutoCompose clients
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Settings'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/responses/globals:
    get:
      tags:
        - AutoCompose
      summary: List the global responses
      description: >-
        Get the global responses and folder organization for a company.
        Responses are sorted by text, and folders are sorted by name.
      operationId: getGlobalResponses
      parameters:
        - in: query
          name: folderId
          schema:
            type: string
          required: false
          description: >-
            Optional identifier for the ID of the folder containing responses to
            be retrieved. If this is omitted, all global responses are
            returned.  Data format is expected to be UUID. The special value
            '__root' can also be used to retrieve top level folders/responses.
        - in: query
          name: resourceType
          schema:
            type: string
            enum:
              - folders
              - responses
              - all
            default: all
          required: false
          description: >-
            Optional identifier for the ID of the type of responses to be
            retrieved. A value of 'folders' will return only folder information
            describing the way responses are organized. A value of 'responses'
            will return only responses. A value of 'all' will return a mix of
            folders and responses. Note that if the folderId parameter is
            specified as well, only the resource type identified here that
            exists within the specified folder will be returned. If this is
            omitted, all resources are returned.
        - in: query
          name: searchTerm
          schema:
            type: string
          required: false
          description: >-
            Search term to search for global responses. This will search for
            matching folder names, response text or both, depending on the
            resourceType parameter value.
          example: greetings
        - in: query
          name: pageToken
          description: >-
            This service responds with a set of global responses. These are
            divided into pages, with maxPerPage items in each page. This
            parameter is the page token returned in the call prior to this one.
            If this is the first call being made, this field should be omitted.
            The server will respond with global responses following the one
            previously sent.
          required: false
          schema:
            type: string
          example: '3'
        - in: query
          name: maxPerPage
          description: >-
            The maximum number of custom responses the client can handle within
            one page
          required: false
          schema:
            type: integer
            default: 1000
      responses:
        '200':
          description: The global responses for this company
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GlobalResponsesWithVersion'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/responses/customs:
    parameters:
      - $ref: '#/components/parameters/agentId'
    get:
      tags:
        - AutoCompose
      summary: Get custom responses
      description: >-
        Get custom responses for an agent. Responses are sorted by title, and
        folders are sorted by name.
      operationId: getCustomResponseCollection
      parameters:
        - in: query
          name: folderId
          schema:
            type: string
          required: false
          description: >-
            Optional identifier for the ID of the folder containing responses to
            be retrieved. If this is omitted, all custom responses are
            returned.  Data format is expected to be UUID. The special value
            '__root' can also be used to retrieve top level folders/responses.
        - in: query
          name: resourceType
          schema:
            type: string
            enum:
              - folders
              - responses
              - all
            default: all
          required: false
          description: >-
            Optional identifier for the ID of the type of responses to be
            retrieved. A value of 'folders' will return only folder information
            describing the way responses are organized. A value of 'responses'
            will return only responses. A value of 'all' will return a mix of
            folders and responses. Note that if the folderId parameter is
            specified as well, only the resource type identified here that
            exists within the specified folder will be returned. If this is
            omitted, all resources are returned.
        - in: query
          name: searchTerm
          schema:
            type: string
          required: false
          description: >-
            Search term to search for custom responses. This will search for
            matching folder names, response text or both, depending on the
            resourceType parameter value.
          example: greetings
        - in: query
          name: pageToken
          description: >-
            This service responds with a set of custom responses. These are
            divided into pages, with maxPerPage items in each page. This
            parameter is the page token returned in the call prior to this one.
            If this is the first call being made, this field should be omitted.
            The server will respond with custom responses following the one
            previously sent.
          required: false
          schema:
            type: string
          example: '3'
        - in: query
          name: maxPerPage
          description: >-
            The maximum number of custom responses the client can handle within
            one page
          required: false
          schema:
            type: integer
            default: 1000
      responses:
        '200':
          description: >-
            A collection of custom response lists for this customer, sorted by
            agent ID
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Responses'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/responses/customs/folder:
    parameters:
      - $ref: '#/components/parameters/agentId'
    post:
      tags:
        - AutoCompose
      summary: Create a response folder
      description: Add a single folder for an agent
      operationId: addCustomResponseFolder
      requestBody:
        description: The folder to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
        required: true
      responses:
        '200':
          description: Acknowledgement that the folder was successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Folder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/responses/customs/response:
    parameters:
      - $ref: '#/components/parameters/agentId'
    post:
      tags:
        - AutoCompose
      summary: Create a custom response
      description: Add a single custom response for an agent
      operationId: addCustomResponse
      requestBody:
        description: The custom response to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCustomResponse'
        required: true
      responses:
        '200':
          description: Acknowledgement that the response was successfully added
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/responses/customs/response/{responseId}:
    parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/responseId'
    put:
      tags:
        - AutoCompose
      summary: Update a custom response
      description: Update a specific custom response for an agent
      operationId: updateCustomResponse
      requestBody:
        description: The custom response to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewCustomResponse'
        required: true
      responses:
        '200':
          description: Acknowledgement that the custom response was successfully updated
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
    delete:
      tags:
        - AutoCompose
      summary: Delete a custom response
      description: Delete a specific custom response for an agent
      operationId: deleteCustomResponse
      responses:
        '200':
          description: Acknowledgement that the custom response was successfully deleted
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/responses/customs/folder/{folderId}:
    parameters:
      - $ref: '#/components/parameters/agentId'
      - $ref: '#/components/parameters/folderId'
    put:
      tags:
        - AutoCompose
      summary: Update a response folder
      description: Update a folder for an agent
      operationId: updateFolder
      requestBody:
        description: The folder to be updated
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Folder'
        required: true
      responses:
        '200':
          description: Acknowledgement that the folder was successfully updated
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
    delete:
      tags:
        - AutoCompose
      summary: Delete a response folder
      description: Delete a folder for an agent
      operationId: deleteFolder
      responses:
        '200':
          description: Acknowledgement that the custom response was successfully deleted
          content: {}
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/autopilot/greetings:
    parameters:
      - $ref: '#/components/parameters/agentId'
    get:
      tags:
        - AutoCompose
      summary: Get autopilot greetings
      description: Get autopilot greetings for an agent
      operationId: getAutopilotGreetings
      responses:
        '200':
          description: The autopilot greetings for this agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutopilotGreeting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
    put:
      tags:
        - AutoCompose
      summary: Update autopilot greetings
      description: Update autopilot greetings for an agent
      operationId: updateAutopilotGreetings
      requestBody:
        description: The updated autopilot greetings
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutopilotGreeting'
        required: true
      responses:
        '200':
          description: Acknowledgement that the greetings were successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutopilotGreeting'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autocompose/v1/autopilot/greetings/status:
    parameters:
      - $ref: '#/components/parameters/agentId'
    get:
      tags:
        - AutoCompose
      summary: Get autopilot greetings status
      description: Get autopilot greetings status for an agent
      operationId: getAutopilotGreetingsStatus
      responses:
        '200':
          description: The autopilot greetings status for this agent
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutopilotStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
    put:
      tags:
        - AutoCompose
      summary: Update autopilot greetings status
      description: Update autopilot greetings status for an agent
      operationId: updateAutopilotGreetingsStatus
      requestBody:
        description: The updated autopilot greetings status
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AutopilotStatus'
        required: true
      responses:
        '200':
          description: Acknowledgement that the greetings status was successfully updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutopilotStatus'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autosummary/v1/intent/{conversationId}:
    parameters:
      - $ref: '#/components/parameters/conversationId'
    get:
      tags:
        - AutoSummary
      summary: Get conversation intent
      description: >
        Retrieves the primary intent of a conversation, represented by both an
        intent code and a human-readable intent name. If no intent is detected,
        "NO_INTENT" is returned.


        This endpoint requires:

        1. Intent support to be explicitly enabled for your account.

        2. A valid conversationId, which is an ASAPP-generated identifier
        created when using the ASAPP /conversations endpoint.


        Use this endpoint to gain insights into the main purpose or topic of a
        conversation.
      operationId: getIntent
      responses:
        '200':
          description: Successfully generated intent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IntentResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autosummary/v1/free-text-summaries/{conversationId}:
    get:
      deprecated: true
      tags:
        - AutoSummary
      summary: Get free text summary
      description: >
        <Warning>

        **Deprecated**


        Replaced by [POST
        /autosummary/v1/free-text-summaries](/apis/autosummary/retrieve-free-text-summary)

        </Warning>


        Generates a concise, human-readable summary of a conversation.


        Provide an agentExternalId if you want to get the summary for a single
        agent's involvment with a conversation.


        Multilingual support: You can get summaries in languages different from
        English by making use of the 'Accept-Language' header.
      operationId: getFreeTextSummary
      parameters:
        - $ref: '#/components/parameters/conversationId'
        - $ref: '#/components/parameters/agentExternalId'
      responses:
        '200':
          description: Successfully generated summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeTextSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autosummary/v1/feedback/free-text-summaries/{conversationId}:
    parameters:
      - $ref: '#/components/parameters/conversationId'
      - $ref: '#/components/parameters/agentExternalId'
    post:
      tags:
        - AutoSummary
      summary: Provide feedback.
      description: >
        Create a feedback event with the full and updated summary. Each event is
        associated with a specific summary id. 


        The event must contain the final summary, in the form of text.        
      operationId: createFeedbackEvent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeTextSummaryFeedback'
      responses:
        '202':
          description: Successfully accepted a feedback event for the summary.
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autosummary/v1/free-text-summaries:
    post:
      tags:
        - AutoSummary
      summary: Retrieve free text summary
      description: >
        Retrieves a concise, human-readable summary of a conversation.


        Provide an agentExternalId if you want to get the summary for a single
        agent's involvement with a conversation.


        You can use the id from ASAPP's system (conversationId or IssueId) or
        your own id (externalConversationId).


        Multilingual support: You can get summaries in languages different from
        English by making use of the 'Accept-Language' header.
      operationId: retrieveFreeTextSummary
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/FreeTextSummaryRequest'
      responses:
        '200':
          description: Successfully retrieved free text summary.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FreeTextSummaryResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autosummary/v1/structured-data:
    post:
      tags:
        - AutoSummary
      summary: Retrieve structured data
      description: >
        Retrieves a set of structured data about a conversation that is already
        known to ASAPP.


        You can use the id from ASAPP's system (conversationId or IssueId) or
        your own id (externalConversationId).


        Provide an agentExternalId if you want to get the structured data for a
        single agent's involvement with a conversation.
      operationId: retrieveStructuredData
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StructuredDataRequest'
      responses:
        '200':
          description: Successfully retrieved structured data.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StructuredDataResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /autotranscribe/v1/streaming-url:
    post:
      tags:
        - AutoTranscribe
      operationId: getStreamingUrl
      summary: Get streaming URL
      description: >
        Get [websocket streaming
        URL](/autotranscribe/deploying-autotranscribe-via-websocket) to
        transcribe audio in real time. This websocket is used to send audio to
        ASAPP's transcription service and receive transcription results.
      requestBody:
        description: The parameters for getting streaming URL
        content:
          application/json:
            schema:
              type: object
              properties:
                externalId:
                  description: >-
                    Your unique identifier for the conversation. This ID should
                    be the same for streams of the same conversation.
                  type: string
              example:
                externalId: 8560333f-7e53-4e9f-80f3-3409a396506e
      responses:
        '200':
          description: Successfully generated the URL for streaming
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StreamingUrl'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /conversation/v1/conversations:
    post:
      tags:
        - Conversations
      operationId: createOrUpdateConversation
      summary: Create or update a conversation
      description: >
        Creates a new conversation or updates an existing one based on the
        provided `externalId`.


        Use this endpoint when:

        - Starting a new conversation

        - Updating conversation details (e.g., reassigning to a different agent)


        If the `externalId` is not found, a new conversation will be created.
        Otherwise, the existing conversation will be updated.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TimeBasedConversation'
      responses:
        '200':
          description: Successfully created or updated conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConversationResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
    get:
      tags:
        - Conversations
      operationId: getConversations
      summary: List conversations
      description: >
        Retrieves a list of conversation resources that match the specified
        criteria.


        You must provide at least one search criterion in the query parameters.
      parameters:
        - $ref: '#/components/parameters/externalId'
      responses:
        '200':
          description: Successfully fetched conversations
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversations'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /conversation/v1/conversations/{conversationId}:
    parameters:
      - $ref: '#/components/parameters/conversationId'
    get:
      tags:
        - Conversations
      operationId: getConversation
      summary: Retrieve a conversation
      description: >
        Retrieves the details of a specific conversation using its
        `conversationId`.


        This endpoint returns detailed information about the conversation,
        including participants and metadata.
      responses:
        '200':
          description: Successfully fetched conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Conversation'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /conversation/v1/conversations/{conversationId}/messages:
    parameters:
      - $ref: '#/components/parameters/conversationId'
    post:
      tags:
        - Conversations
      operationId: createMessage
      summary: Create a message
      description: |
        Creates a message object, adding it to an existing conversation.

        Use this endpoint to record each new message in the conversation.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
      responses:
        '200':
          description: Successfully created message in conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessagesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
    get:
      tags:
        - Conversations
      operationId: getMessages
      summary: List messages
      description: |
        Lists all messages within a conversation.

        This messages are returned in chronological order. 
      responses:
        '200':
          description: Successfully fetched messages from a conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessagesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /conversation/v1/conversations/{conversationId}/messages/{messageId}:
    parameters:
      - $ref: '#/components/parameters/conversationId'
      - $ref: '#/components/parameters/messageId'
    get:
      tags:
        - Conversations
      operationId: getMessage
      summary: Retrieve a message
      description: |
        Retrieve the details of a message from a conversation.
      responses:
        '200':
          description: Successfully fetched message from a conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /conversation/v1/conversations/{conversationId}/messages/batch:
    parameters:
      - $ref: '#/components/parameters/conversationId'
    post:
      tags:
        - Conversations
      operationId: createBatchMessages
      summary: Create multiple messages
      description: >
        This creates multiple message objects at once, adding them to an
        existing conversation.


        Use this endpoint when you need to add several messages at once, such as
        when importing historical conversation data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BatchMessages'
      responses:
        '200':
          description: Successfully created messages in conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BatchMessagesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /conversation/v1/conversation/messages:
    get:
      tags:
        - Conversations
      operationId: getMessagesByExternalId
      summary: List messages with an externalId
      description: |
        Get all messages from a conversation.
      parameters:
        - $ref: '#/components/parameters/externalId'
      responses:
        '200':
          description: Successfully fetched messages from a conversation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessagesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /conversation/v1/conversations/{conversationId}/authenticate:
    post:
      tags:
        - Conversations
      summary: Authenticate a user in a conversation
      description: >
        Stores customer-specific authentication credentials for use in
        integrated flows.


        - Can be called at any point during a conversation

        - Commonly used at the start of a conversation or after mid-conversation
        authentication

        - May trigger additional actions, such as GenerativeAgent API signals to
        customer webhooks


        <Note>This API only accepts the customer-specific auth credentials; the
        customer is responsible for handling 

        the specific authentication mechanism.</Note>
      operationId: postAuthenticate
      parameters:
        - $ref: '#/components/parameters/conversationId'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthObject'
      responses:
        '204':
          description: 204 - No Content
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /fileexporter/v1/static/listfeeds:
    post:
      tags:
        - File Exporter
      operationId: listFeeds
      summary: List feeds
      description: |
        Lists feed names for a company
      responses:
        '200':
          description: Successfully requested feed names
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedsResponse'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /fileexporter/v1/static/listfeedversions:
    post:
      tags:
        - File Exporter
      operationId: listFeedVersions
      summary: List feed versions
      description: |
        Lists feed versions for a company
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFeedVersionsRequest'
      responses:
        '200':
          description: Successfully requested feed versions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedVersionsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /fileexporter/v1/static/listfeedformats:
    post:
      tags:
        - File Exporter
      operationId: listFeedFormats
      summary: List feed formats
      description: |
        Lists feed formats for a company feed/version/
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFeedFormatsRequest'
      responses:
        '200':
          description: Successfully requested feed formats
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedFormatsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /fileexporter/v1/static/listfeeddates:
    post:
      tags:
        - File Exporter
      operationId: listFeedDates
      summary: List feed dates
      description: |
        Lists dates for a company feed/version/format
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFeedDatesRequest'
      responses:
        '200':
          description: Successfully requested feed dates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedDatesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /fileexporter/v1/static/listfeedintervals:
    post:
      tags:
        - File Exporter
      operationId: listFeedIntervals
      summary: List feed intervals
      description: |
        Lists intervals for a company feed/version/format/date
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFeedIntervalsRequest'
      responses:
        '200':
          description: Successfully requested feed intervals
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedIntervalsResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /fileexporter/v1/static/listfeedfiles:
    post:
      tags:
        - File Exporter
      operationId: listFeedFiles
      summary: List feed files
      description: |
        Lists files for a company feed/version/format/date/interval
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ListFeedFilesRequest'
      responses:
        '200':
          description: Successfully requested feed files
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListFeedFilesResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /fileexporter/v1/static/getfeedfile:
    post:
      tags:
        - File Exporter
      operationId: listFeedFile
      summary: Retrieve a feed file
      description: >
        Retrieves a feed file URL for a company
        feed/version/format/date/interval/file
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetFeedFileRequest'
      responses:
        '200':
          description: Successfully requested feed file
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetFeedFileResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /generativeagent/v1/analyze:
    post:
      tags:
        - GenerativeAgent
      summary: Analyze conversation
      description: >
        Call this API to trigger GenerativeAgent to analyze and respond to a
        conversation.


        This API should be called after a customer sends a message while not
        speaking with a live agent. The Bot replies will not be returned on this
        request; they will be delivered asynchronously via the webhook callback.


        This API also adds an optional **message** field to create a message for
        a given conversation before triggering the bot replies. The message
        object is the exact same message used in the conversations API /message
        endpoint
      operationId: postAnalyze
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: >-
                The parameters for triggering the analysis and response to a
                conversation
              properties:
                streamId:
                  type: string
                  description: >-
                    The id associated with the connection where the responses
                    should be sent to.
                  example: 97555020-0276-435f-8104-c378221ba292
                conversationId:
                  type: string
                  description: Internal conversation identifier from ASAPP
                  example: 01BX5ZZKBKACTAV9WEVGEMMVS0
                taskName:
                  type: string
                  description: Name of the task to be used in the analysis
                  example: UpgradePlan
                inputVariables:
                  type: object
                  description: Input variables to be used as context in the analysis.
                  example:
                    call_context: Customer called to upgrade their current plan to GOLD
                    customer_info:
                      current_plan: SILVER
                      customer_since: '2020-01-01'
                message:
                  $ref: '#/components/schemas/Message'
                channelType:
                  description: Channel type used by the current request (digital or voice)
                  type: string
                  enum:
                    - digital
                    - voice
                  example: digital
              required:
                - conversationId
              example:
                conversationId: 01BX5ZZKBKACTAV9WEVGEMMVS0
                message:
                  text: Hello, I would like to upgrade my internet plan to GOLD.
                  sender:
                    role: agent
                    externalId: 123
                  timestamp: '2021-11-23T12:13:14.555Z'
                taskName: UpgradePlan
                inputVariables:
                  context: Customer called to upgrade their current plan to GOLD
                  customer_info:
                    current_plan: SILVER
                    customer_since: '2020-01-01'
                channelType: digital
      responses:
        '200':
          description: >-
            Successfully triggered the bot to analyze and respond to a
            conversation
          content:
            application/json:
              schema:
                type: object
                description: >-
                  Conversation identifier and message identifier if passed in
                  the request
                properties:
                  conversationId:
                    type: string
                    description: Internal conversation identifier from ASAPP
                    example: 01BX5ZZKBKACTAV9WEVGEMMVS0
                  messageId:
                    type: string
                    description: Internal message identifier from ASAPP
                    example: 01BX5ZZKBKACTAV9WEVGEMMVS1
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /generativeagent/v1/streams:
    post:
      tags:
        - GenerativeAgent
      summary: Create stream URL
      description: >
        This API creates a generative agent event streaming URL to start a
        streaming connection (SSE).


        This API should be called when the client boots-up to request a
        streaming_url, before it calls endpoints whose responses are delivered
        asynchronously (and most likely before calling any other endpoint).


        Provide the streamId to reconnect to a previous stream.
      operationId: postStreams
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: The parameters to be associated with a given connection.
              properties:
                streamId:
                  type: string
                  description: >-
                    streamId to be associated with the streaming connection. If
                    not present, the llm-bot will provide one.
                  example: 97555020-0276-435f-8104-c378221ba292
              example:
                streamId: 97555020-0276-435f-8104-c378221ba292
      responses:
        '200':
          description: Successfully generated a new streaming URL.
          content:
            application/json:
              schema:
                type: object
                description: >-
                  Streaming URL with its identifier and possible SSE
                  message-types to be received.
                properties:
                  streamId:
                    type: string
                    description: >-
                      If it was provided in the request, this field will just
                      reaffirm the value. Otherwise, a newly generated one will
                      be provided.
                    example: 97555020-0276-435f-8104-c378221ba292
                  streamingUrl:
                    type: string
                    description: >-
                      URL for opening the SSE session. It may be used once, and
                      is valid for only 30 seconds.
                    example: >-
                      https://ws-co82129c.test.asapp.com/push-api/connect/sse\?token\=<token>
                  messageTypes:
                    type: array
                    items:
                      type: string
                    description: Possible message types to be received from the agent.
                    example:
                      - generative-agent-message
                required:
                  - streamId
                  - streamingUrl
                  - messageTypes
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /generativeagent/v1/state:
    get:
      tags:
        - GenerativeAgent
      summary: Get GenerativeAgent state
      description: >
        This API provides the current state of the generative agent for a given
        conversation.
      operationId: getState
      parameters:
        - in: query
          name: criteria
          description: Search criteria
          style: form
          explode: true
          schema:
            type: object
            properties:
              externalId:
                type: string
                description: >-
                  External conversation identifier from your external chat /
                  voice system
            additionalProperties: false
            minProperties: 1
      responses:
        '200':
          description: Successfully fetched state of generative agent for a conversation
          content:
            application/json:
              schema:
                type: object
                properties:
                  state:
                    type: string
                    enum:
                      - ready
                      - processing
                      - waitingForConfirmation
                      - waitingForAuth
                      - transferredToAgent
                      - transferredToSystem
                    description: |
                      The last status of the conversation:
                        * `ready` - GenerativeAgent is ready to respond to requests
                        * `processing` - GenerativeAgent is actively processing the conversation
                        * `waitingForConfirmation` - GenerativeAgent is expecting an explicit confirmation on the next message
                        * `waitingForAuth` - GenerativeAgent is waiting for the user to login before proceeding
                        * `transferredToAgent` - GenerativeAgent is no longer able to provide meaningful responses and has 
                                                 requested the conversation be transferred to a human agent
                        * `transferredToSystem` - GenerativeAgent has transferred control of this conversation back to the
                                                  caller system. However, it will respond if new analyze requests are made
                  lastGenerativeAgentMessageId:
                    type: string
                    description: >-
                      ULID identifier of the last asynchronous response that was
                      sent to the customer
                  currentTaskName:
                    type: string
                    description: Current task TaskBot is executing
                  inputVariables:
                    type: object
                    description: Last input variables
                example:
                  state: ready
                  lastGenerativeAgentMessageId: 01HWXSGMT91HCS18BV0CRGEKY8
                  currentTaskName: PaymentDetails
                  inputVariables:
                    input-context: >-
                      Customer chatted in to check the details of their last
                      payment.
                    last-customer-purchase: '2024-05-07'
      security:
        - API-ID: []
          API-Secret: []
  /v1/health:
    get:
      tags:
        - Health Check
      summary: Check ASAPP's API's health.
      description: >
        The API Health check endpoint enables you to check the operational
        status of our API platform.
      responses:
        '200':
          description: Successfully retrieved response from Health Server.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/health-check'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /knowledge-base/v1/submissions:
    post:
      tags:
        - Knowledge Base
      summary: Create a submission
      description: >-
        Initiate a request to add a new article or update an existing one.


        The provided title and content will be processed to create the final
        version of the submission.


        A `submission` is the programmatic creation or editing of an article.
        All submissions need to be approved by a human in the ASAPP Console in
        order to be applied.


        All content in a submission may be refined by our AI in order to make it
        easy to be used by GenerativeAgent


        Head to [Connecting your Knowledge
        Base](/generativeagent/configuring/connecting-your-knowledge-base#step-1-importing-your-knowledge-base)
        to see how to enter the API from the ASAPP Console.
      operationId: createSubmission
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SubmissionRequest'
      responses:
        '201':
          description: Submission successfully created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
              example:
                id: fddd060c-22d7-4aed-acae-8f8dcc093a88
                articleId: 8f8dcc09-22d7-4aed-acae-fddd060c3a88
                submittedAt: '2024-12-12T00:00:00'
                title: 5G Data Plan
                content: >-
                  Our 5G data plans offer lightning-fast speeds and generous
                  data allowances. The Basic 5G plan includes 50GB of data per
                  month, while our Unlimited 5G plan offers truly unlimited data
                  with no speed caps. Both plans include unlimited calls and
                  texts within the country. International roaming can be added
                  for an additional fee.
                url: https://example.com/5g-data-plans
                metadata:
                  - key: department
                    value: Customer experience
                queryExamples:
                  - What 5G plans do you offer?
                  - Is there an unlimited 5G plan?
                additionalInstructions:
                  - clarificationInstruction: Emphasize that 5G coverage may vary by location
                    exampleResponse: >-
                      Our 5G plans offer great speeds and data allowances, but
                      please note that 5G coverage may vary depending on your
                      location. You can check coverage in your area on our
                      website.
                status: PENDING_REVIEW
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /knowledge-base/v1/submissions/{id}:
    get:
      tags:
        - Knowledge Base
      summary: Retrieve a submission
      description: >
        This service retrieves the details of a specific submission using its
        unique identifier.


        A `submission` is the programmatic creation or editing of an article.
        All submissions need to be approved by a human in the ASAPP Console in
        order to be applied.


        All content in a submission may be refined by our AI in order to make it
        easy to be used by GenerativeAgent 


        Head to [Connecting your Knowledge
        Base](/generativeagent/configuring/connecting-your-knowledge-base#step-1-importing-your-knowledge-base)
        to see how to enter the API from the ASAPP Console.
      operationId: getSubmission
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the submission to be retrieved.
          example: fddd060c-22d7-4aed-acae-8f8dcc093a88
      responses:
        '200':
          description: Submission successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Submission'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /knowledge-base/v1/articles/{id}:
    get:
      tags:
        - Knowledge Base
      summary: Retrieve an article
      description: >
        Fetch a specific article by its unique identifier. 


        If the article has not been created because the associated submission
        was not approved, a 404 status will be returned.
      operationId: getArticle
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          description: The unique identifier for the article to be retrieved.
          example: 8f8dcc09-22d7-4aed-acae-fddd060c3a88
      responses:
        '200':
          description: Article successfully retrieved
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Article'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /metadata-ingestion/v1/single-agent-metadata:
    post:
      tags:
        - Metadata
      operationId: singleAgentMetadata
      summary: Add an agent metadata
      description: |
        Add metadata attributes of one agent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMetadata'
      responses:
        '200':
          $ref: '#/components/responses/SuccessForSingle'
        '400':
          $ref: '#/components/responses/BadRequestForSingle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /metadata-ingestion/v1/many-agent-metadata:
    post:
      tags:
        - Metadata
      operationId: manyAgentMetadata
      summary: Add multiple agent metadata
      description: >
        Add multiple agent metadata items; submit items in a batch in one
        request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgentMetadataMany'
      responses:
        '200':
          $ref: '#/components/responses/SuccessForBatch'
        '400':
          $ref: '#/components/responses/BadRequestForBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /metadata-ingestion/v1/single-convo-metadata:
    post:
      tags:
        - Metadata
      operationId: singleConvoMetadata
      summary: Add a conversation metadata
      description: |
        Add metadata attributes of one issue/conversation
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMetadata'
      responses:
        '200':
          $ref: '#/components/responses/SuccessForSingle'
        '400':
          $ref: '#/components/responses/BadRequestForSingle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /metadata-ingestion/v1/many-convo-metadata:
    post:
      tags:
        - Metadata
      operationId: manyConversationMetadata
      summary: Add multiple conversation metadata
      description: >
        Add multiple issue/conversation metadata items; submit items in a batch
        in one request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConversationMetadataMany'
      responses:
        '200':
          $ref: '#/components/responses/SuccessForBatch'
        '400':
          $ref: '#/components/responses/BadRequestForBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /metadata-ingestion/v1/single-customer-metadata:
    post:
      tags:
        - Metadata
      operationId: singleCustomerMetadata
      summary: Add a customer metadata
      description: |
        Add metadata attributes of one customer
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerMetadata'
      responses:
        '200':
          $ref: '#/components/responses/SuccessForSingle'
        '400':
          $ref: '#/components/responses/BadRequestForSingle'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /metadata-ingestion/v1/many-customer-metadata:
    post:
      tags:
        - Metadata
      operationId: manyCustomerMetadata
      summary: Add multiple customer metadata
      description: >
        Add multiple customer metadata items; submit items in a batch in one
        request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CustomerMetadataMany'
      responses:
        '200':
          $ref: '#/components/responses/SuccessForBatch'
        '400':
          $ref: '#/components/responses/BadRequestForBatch'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /mg-autotranscribe/v1/start-streaming:
    post:
      tags:
        - AutoTranscribe Media Gateway
      operationId: startStreaming
      summary: Start streaming
      description: >
        This starts the transcription of the audio stream.


        Use in conjunction with the
        [stop-streaming](/apis/media-gateway/stop-streaming-audio) endpoint to
        control when transcription occurs for a given call. This allow you to
        prevent transcription of sensitive parts of a conversation, such as
        entering PCI data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StartStreamingRequest'
      responses:
        '200':
          description: Router processed the request, details are in the response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StartStreamingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /mg-autotranscribe/v1/stop-streaming:
    post:
      tags:
        - AutoTranscribe Media Gateway
      operationId: stopStreaming
      summary: Stop streaming
      description: >
        This stops the transcription of the audio stream.


        Use in conjunction with the
        [start-streaming](/apis/media-gateway/start-streaming-audio) endpoint to
        control when transcription occurs for a given call. This allow you to
        prevent transcription of sensitive parts of a conversation, such as
        entering PCI data.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StopStreamingRequest'
      responses:
        '200':
          description: Router processed the request, details are in the response body
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StopStreamingResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '409':
          $ref: '#/components/responses/Conflict'
        '413':
          $ref: '#/components/responses/RequestEntityTooLarge'
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '429':
          $ref: '#/components/responses/TooManyRequests'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
        default:
          $ref: '#/components/responses/DefaultError'
      security:
        - API-ID: []
          API-Secret: []
  /mg-autotranscribe/v1/twilio-media-stream-url:
    get:
      tags:
        - AutoTranscribe Media Gateway
      operationId: getTwilioMediaStreams
      summary: Get Twilio media stream url
      description: >-
        Returns url where [Twilio media
        stream](/autotranscribe/deploying-autotranscribe-for-twilio) should be
        sent to.
      responses:
[...]
